/* .paragraph--type--slideshow-carousel .carousel_inner--wrapper {
  background-color: darkred !important;
}

a.link_button.custom_link {
  background-color: #0460a9;
  color: white !important;
  border: 0;
} */
